* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4efe7;
  overflow-x: hidden;
}

@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Medium";
  src: url(../assets/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "Jomhuria-Regular";
  src: url(../assets/fonts/Jomhuria-Regular.ttf);
}

@font-face {
  font-family: "Praise-Regular";
  src: url(../assets/fonts/Praise-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
